<div class="container">
    <div *ngIf="totalNumOfItems>0" class="row">
        <div class="col-sm-12 col-md-10" >
            <div *ngFor="let cart of cartItems">
                <cart-item (removeProduct)="removeProductFromCart($event)" (productQuantity)="productOrderDetails($event)" [product]="cart"></cart-item>
            </div>
        </div>
        <div style="height:50vw" class="col-sm-12 col-md-2">
            <price-details [price]="totalPrice" [discount]="totalDiscount" [numOfItems]="totalNumOfItems" ></price-details>
        </div>
    </div>
    <div *ngIf="totalNumOfItems === 0" class="row">
        <h3>You dont have any cart items added to cart, please add one and proceed</h3>
    </div>

</div>
